@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(37 99 235) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgb(51 65 85);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(37 99 235);
  border-radius: 5px;
}

@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
  .border-b-light {
    @apply border-b-slate-700;
  }
  .border-t-light {
    @apply border-t-slate-700;
  }
  .active {
    @apply text-blue-600 duration-300 ease-in-out md:underline md:decoration-[3px] md:underline-offset-[6px];
  }
}
